/* ==========================================================================
    DEFAULT THEME - DARK VERSION
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #e59a58;
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);

$background                 : #102b23;
$background-light           : mix(#fff, $background, 80%);
$background-lighter         : mix(#fff, $background, 90%);
$text                       : #eef4f0;
$link                       : #e59a58;
$link-dark                  : mix(#000, $link, 25%);
$link-light                 : mix(#fff, $link, 25%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #e59a58;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #102b23;
    --global-footer-bg-color            : #0d241d;
    --global-border-color               : #315047;
    --global-dark-border-color          : #47685e;
    --global-code-background-color      : #173a30;
    --global-code-text-color            : #eef4f0;
    --global-fig-caption-color          : #b8c8c1;
    --global-link-color                 : #e59a58;
    --global-link-color-hover           : #ffc087;
    --global-link-color-visited         : #d88d4d;
    --global-masthead-link-color        : #eef4f0;
    --global-masthead-link-color-hover  : #e59a58;
    --global-text-color                 : #eef4f0;
    --global-text-color-light           : #b8c8c1;
    --global-thead-color                : #173a30;
}

